<h1>Tasty Burgerrrs!</h1>
<div id="newBurgers">
    <h3>Burgers</h3> 
</div>
<div id="input">
    <input id="newBurger" type="text"><br>
    <input id="Submit" type="submit" value="Submit">
</div>
<div id="ouput">

</div>

